# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Virtual Environment
venv/
webscraper/
ignored/

# IDEs and editors
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Package manager folders
node_modules/

# Miscellaneous
*.env
